                    .CodeMirror { height: auto; border: 1px solid #ddd; }
                    .context-menu {
                        display: none;
                        position: absolute;
                        z-index: 10000;
                        padding: 5px;
                        background: #fff;
                        border: 1px solid #ccc;
                    }
                    .context-menu-item {
                        cursor: pointer;
                        padding: 5px 10px;
                    }
                    .context-menu-item:hover {
                        background: #ddd;
                    }
                    .file-item {
                        display: inline-block;
                        text-align: center;
                        margin: 10px;
                    }
                    .file-item img {
                        width: 100px;
                        height: 100px;
                    }
                    .file-item span {
                        display: block;
                    }
                    .content {
                        width: 80%;
			height: 100vh;
  			margin: 0 auto; /* This will center your div horizontally */
                        background-color: white;
                        padding: 20px;
                        box-sizing: border-box;
                        }
                    #drop_zone {
                        width: 90%;
                        height: 100px;
                        border: 2px solid #bbb;
                        line-height: 100px;
                        text-align: center;
                        font-size: 24px;
                        margin: 10px auto;
                    
			}

#drop_zone.dragover {
    border: 2px dashed #aaa;
    background: #eee;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 2px dashed black;
}

.logo-container img {
    display: block;
    transform: scale(0.5);
    height: auto;
}

		    body {
                        background-color: #003348;
                    }

